:root{
    --primary-font-color:#000000;
}
main{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100vw;
}
.main-body{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
}
.main-header{
    height: 100vh;
}
.header-image{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.header-nav{
    position: absolute  ;
    z-index: 10;
    top: 20%;
    right: 3%;
    
}
.cake-img{
    z-index:  1;
}
.header-nav .heading a{
    color: var(--primary-font-color);
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight:700;
    font-size: 6em;
}
.header-nav nav ul {
    display: flex;
    flex-direction: column;
}
.header-nav nav ul li a {
    color: var(--primary-font-color);
    
    display: flex;
    align-items: center;
    gap: 1.3em;
    padding: .8em 0;
    border-top: 1.25px solid var(--primary-font-color);
}

.nav-icon,.nav-text{
    display: inline;
}
.nav-icon{
    width: 1.8em;
    padding: 5px 0;
}
.nav-text{
    font-size: 1.5em;
    font-weight: 500;
}
@media only screen and (max-width:700px) {

    :root{
        --primary-font-color: #ffffff;
    }
    nav{
        display: block;
    }
    .header-nav{
        top: 10%;
        right: 30%;
    }
    .nav-icon{
        display: none;
    }
    .header-nav nav ul li a{
        justify-content: center;
        border-top: 2px solid var(--primary-font-color);
    }
    .steak-img{
        z-index: 2;
    }
    .main-body{
        gap: 20px;
    }
}