main{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100vw;
}
.main-header{
    height: 100vh;
}
.header-image{
    width: 100%;
    height: 100%;
}
.header-nav{
    position: absolute  ;
    top: 20%;
    right: 3%;
    
}
.header-nav .heading a{
    color: #fff;
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight:700;
    font-size: 6em;
}
.header-nav nav ul {
    display: flex;
    flex-direction: column;
}
.header-nav nav ul li a {
    color: #fff;
    
    display: flex;
    align-items: center;
    gap: 1.3em;
    padding: .8em 0;
    border-top: 1.25px solid #fff;
}

.nav-icon,.nav-text{
    display: inline;
}
.nav-icon{
    width: 1.8em;
    padding: 5px 0;
}
.nav-text{
    font-size: 1.5em;
    font-weight: 500;
}