:root{
    --primary-color:#000000;
    --secondary-color:#ffffff;
}
main{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100vw;
}
.main-body{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
}
.main-body img{
    width: calc(50vw - 20px);
}
.main-header{
    height: 100vh;
}
.header-image{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.header-nav{
    position: absolute  ;
    z-index: 10;
    top: 20%;
    right: 3%;
    
}
.outer-btn{
    position: absolute;
    top: 48%;
    right: 50%;
}
.header-btn{
    background-color: var(--primary-color);
    
    z-index: 10;
    height: 70px;
    width:300px;
    border-radius: 20px;
}
.header-btn  a{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    place-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
}
.inner-btn{
    display: none;
}
.cake-img{
    z-index:  1;
}
.header-nav .heading a{
    color: var(--primary-color);
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight:700;
    font-size: 6em;
}
.header-nav nav ul {
    display: flex;
    flex-direction: column;
}
.header-nav nav ul li a {
    color: var(--primary-color);
    
    display: flex;
    align-items: center;
    gap: 1.3em;
    padding: .8em 0;
    border-top: 1.25px solid var(--primary-color);
}

.nav-icon,.nav-text{
    display: inline;
}
.nav-icon{
    width: 1.8em;
    padding: 5px 0;
}
.nav-text{
    font-size: 1.5em;
    font-weight: 500;
}
@media only screen and (max-width:700px) {

    :root{
        --primary-color: #ffffff;
        --secondary-color: #000000;
    }
    nav,.inner-btn{
        display: block;
    }

    .header-nav{
        top: 10%;
        right: calc(10% + 20vw);
    }
    .nav-icon,.outer-btn{
        display: none;
    }
    .header-nav nav ul li a{
        justify-content: center;
        border-top: 2px solid var(--primary-color);
    }
    .steak-img{
        z-index: 2;
    }
    .main-body{
        gap: 20px;
    }
    
    .main-body img{
        width: calc(100vw - 20px);
    }
}
@media only screen and (max-width:590px) {
    .header-nav{
        right: 20%;
    }
}