main{
    width: 100vw;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.deals{
    display: flex;
    flex-direction: column;
}
.deal-header{
    color: var(--dark-green);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.deal-header span{
    font-size: 1.5em;
}
.deal-header span{
    color: var(--span-color);
}
.deal-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 3vw;
    color: var(--dark-blue);
}
.card{
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px 0 ;
    padding: 10px 5px;
}
.card:hover{
    transition: .8s;
    transform: scale(1.1);
    box-shadow: 4px 4px 30px 0 ;

}
.card-heading{
    font-size: 1.2em;
    font-weight: 800;
    color: var(--dark-blue);
}
.card-image img{
    width: 100%;
    border-radius: 20px;
}
.card-order{
    display: flex;
    gap: 10%;
    align-items: center;
}
.order-price, .order-btn button{
    font-weight: 800;
}
.order-price{
    color: var(--dark-green);
}
.order-btn button{
    background-color: var(--dark-green);
    color: #fff;
    padding: 7px 8px;
    border-radius: 20px;
    border: none;
}
.card-btn button{
    padding: 5px 15px;
    border: none;
    background: var(--dark-green);
    color: #fff;

    border-radius: 10px;
    
}
.card-text{
    height: 90px;
    margin-left: 2em;
}
.card-text ul {
    flex-direction: column;
    padding: 10px 0;
    list-style-type: square;

}
.card-text ul li{
    font-size: em;

}
@media only screen and (max-width:600px) {
    .deal-cards{
        justify-content: center;
        
    }
    .card:not(:nth-child(1)){
        margin-top: 40px;
    }

}